:root {
    --mainBackground: rgb(25,42,50);
    --tileBackground: rgb(31,53,64);
    --cyan: rgb(56,193,187);
    --orange: rgb(242,178,56);
    --gray: rgb(168,190,199);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    background-color: none;

    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-color: var(--mainBackground);
    display: flex;
    align-items: center;
    justify-content: center;
}